@model Member

@{
    ViewData["Title"] = "Member Form";

}
<h1>@ViewData["Title"]</h1>


<form asp-controller="Validate" asp-action="Index" method="post">
    <div class="row">
        <div class="col-lg-4">Name</div>
        <div class="col-lg-8">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-lg-4">Email</div>
        <div class="col-lg-8">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-4">Url</div>
        <div class="col-lg-8">
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-4">ZipCode</div>
        <div class="col-lg-8">
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-4">Age</div>
        <div class="col-lg-8">
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>        
    </div>

</form>
